@{
    ViewBag.Title = "编辑角色";
}

@using UIShell.OSGi.MvcWebExtension
@model UIShell.RbacPermissionService.Model.Role

@section scripts
{
    <script type="text/javascript" src="@Url.BundleContent(BundleActivator.Bundle, "~/Scripts/crud.js")"></script>
}

<div class="row">
    <!--col-md-6 start-->
    <div class="col-md-12">
        <!--box-info start-->
        <div class="sec-box">
            <a class="closethis">Close</a>
            <header>
                <h2 class="heading">角色信息</h2>
            </header>
            <div class="contents">
                <a class="togglethis">Toggle</a>
                <!--form-horizontal row-border start-->
                @using (Html.BeginForm("Add", "Roles", FormMethod.Post, new { @class = "form-horizontal", @role = "form" }))
                {
                    <div class="form-group">
                        <label class="col-sm-2 control-label">@Html.LabelFor(r => r.Name)</label>
                        <div class="col-sm-10">
                            @Html.HiddenFor(r => r.Id)
                            @Html.TextBoxFor(r => r.Name, new { @class = "form-control", @placeholder = "请输入角色名" })
                            @Html.ValidationMessageFor(r => r.Name)
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label">@Html.LabelFor(r => r.Description)</label>
                        <div class="col-sm-10">
                            @Html.TextAreaFor(r => r.Description, new { @class = "form-control", @placeholder = "请输入角色描述" })
                            @Html.ValidationMessageFor(r => r.Description)
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label"></label>
                        <div class="col-sm-10">
                            <button type="button" class="btn btn-primary" onclick="javascript: Save();">保存角色</button>&nbsp;&nbsp;
                            <button type="button" class="btn btn-primary" onclick="javascript: List();">返回</button>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
