@{
    ViewBag.Title = "角色管理";
}

@using UIShell.OSGi.MvcWebExtension
@using UIShell.RbacPermissionService.Model
@using UIShell.RbacManagementPlugin.ViewModels
@model RoleListViewModel

<div class="row">
    
    <div class="col-md-6">
        <div class="btn-group">
            <button data-toggle="dropdown" class="btn btn-default dropdown-toggle" type="button">@("当前角色：" + Model.SelectedRole.Name) <span class="caret"></span></button>
            <ul role="menu" class="dropdown-menu">
                @foreach (Role role in Model.Roles)
                {
                    if(!role.Equals(Model.SelectedRole))
                    { 
                        <li>@Html.ActionLink("角色：" + @role.Name, "List", new { guid = role.Id }) </li>
                    }
                }
            </ul>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="col-md-2">
        <button class="btn btn-success pull-right" onclick="javascript: Save();">保存权限</button>
    </div>
    <div class="col-md-2">
        <button class="btn btn-danger pull-right" onclick="javascript: Delete('@Model.SelectedRole.Id');">删除角色</button>
    </div>
    <div class="col-md-2">
        <button class="btn btn-primary pull-right" onclick="javascript: Add();">新增角色</button>
    </div>
    <div class="col-md-12">
        @using (Html.BeginForm("Save", "Roles", new { roleId = Model.SelectedRole.Id }, FormMethod.Post, null))
        {
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th class="col-md-2">应用名称</th>
                        <th class="col-md-10">角色权限</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (string bundleSymbolicName in Model.BundleSymbolicNames)
                    {
                        <tr>
                            <td class="col-md-2">@Model.GetBundleName(bundleSymbolicName)</td>
                            <td class="col-md-10">
                                @foreach (RolePermissionViewModel role in Model.GetPermissions(bundleSymbolicName))
                                {
                                    if (Model.SelectedRole.IsAdminRole())
                                    {
                                        @Html.CheckBox(role.KeyName, true, new { @class = "bluecheckradios", @disabled = "disabled" })
                                    }
                                    else if (role.Invoked)
                                    {
                                        @Html.CheckBox(role.KeyName, true, new { @class = "bluecheckradios" })
                                    }
                                    else
                                    {
                                        @Html.CheckBox(role.KeyName, false, new { @class = "bluecheckradios" })
                                    }
                                    <span>@role.PermissionName &nbsp;&nbsp;</span>
                                }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
    </div>
</div>


@section scripts
{
<script type="text/javascript" src="@Url.BundleContent(BundleActivator.Bundle, "~/Scripts/crud.js")"></script>
    <script>
    $(document).ready(function () {

        $('.bluecheckradios').iCheck({
            checkboxClass: 'icheckbox_flat-blue',
            radioClass: 'iradio_flat-blue',
            increaseArea: '20%' // optional
        });
    });
    </script>
}