
@{
    ViewBag.Title = "用户管理";
}

@using UIShell.OSGi.MvcWebExtension
@using UIShell.RbacPermissionService.Model
@using UIShell.RbacManagementPlugin.ViewModels
@model UserListViewModel

@section scripts
{
    <script type="text/javascript" src="@Url.BundleContent(BundleActivator.Bundle, "~/Scripts/crud.js")"></script>
}

<div class="row">
    <div class="col-md-12"><button class="btn btn-primary pull-right" onclick="javascript: Add();">新增用户</button></div>
    <div class="col-md-12">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th></th>
                    <th>登录名</th>
                    <th>密码</th>
                    <th>姓名</th>
                    <th>所属角色</th>
                </tr>
            </thead>
            <tbody>
                @{
                    foreach (User user in Model.PagedModels)
                    {
                        <tr>
                            <td>

                                <button type="button" class="btn btn-xs btn-warning" onclick="javacript: Edit('@user.Name');">
                                    <i class="glyphicon glyphicon-edit"></i>
                                </button>
                                <button type="button" class="btn btn-xs btn-danger" onclick="javacript: DeleteAndPagedList('@user.Name', @Model.CurrentPageNum, @Model.PageSize);">
                                    <i class="glyphicon glyphicon-remove"></i>
                                </button>

                            </td>
                            <td>@user.Name</td>
                            <td>@user.Password</td>
                            <td>@user.DisplayName</td>
                            <td>@foreach(Role role in user.Roles)
                                {
                                    <span>@role.Name</span>
                                }
                                    
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>


@Html.Partial("_PagedListBottom")