@{
    ViewBag.Title = "编辑用户";
}

@using UIShell.OSGi.MvcWebExtension
@using UIShell.RbacPermissionService.Model
@model User

@{
    string action = ViewBag.Action;
}

<!-- Page title -->
<div class="page-title">
    <h2><i class="icon-desktop color"></i> 增加用户 <small>新增一个用户</small></h2>
    <hr />
</div>
<!-- Page title -->

<div class="row">
    <!--col-md-6 start-->
    <div class="col-md-12">
        <!--box-info start-->
        <div class="col-md-12">
            <!--box-info start-->
            <div class="awidget">
                <div class="awidget-head">
                    <h3>用户信息</h3>
                </div>
                <div class="awidget-body">
                    <!--form-horizontal row-border start-->
                    @using (Html.BeginForm(action, "Users", FormMethod.Post, new { @class = "form-horizontal", @role = "form" }))
                    {
                        if (action.Equals("Edit"))
                        {
                            @Html.HiddenFor(u => u.Name)
                        }
                        else
                        {
                            <div class="form-group">
                                <label class="col-sm-2 control-label">@Html.LabelFor(u => u.Name)</label>
                                <div class="col-sm-10">
                                    @Html.TextBoxFor(u => u.Name, new { @class = "form-control", @placeholder = "请输入登录名" })
                                    @Html.ValidationMessageFor(u => u.Name)
                                </div>
                            </div>
                        }

                        <div class="form-group">
                            <label class="col-sm-2 control-label">@Html.LabelFor(u => u.Password)</label>
                            <div class="col-sm-10">
                                @Html.TextBoxFor(u => u.Password, new { @class = "form-control", @placeholder = "请输入登录密码" })
                                @Html.ValidationMessageFor(u => u.Password)
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">@Html.LabelFor(u => u.DisplayName)</label>
                            <div class="col-sm-10">
                                @Html.TextBoxFor(u => u.DisplayName, new { @class = "form-control", @placeholder = "请输入用户姓名" })
                                @Html.ValidationMessageFor(u => u.DisplayName)
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">@Html.LabelFor(u => u.Phone)</label>
                            <div class="col-sm-10">
                                @Html.TextBoxFor(u => u.Phone, new { @class = "form-control", @placeholder = "请输入用户手机" })
                                @Html.ValidationMessageFor(u => u.Phone)
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">@Html.LabelFor(u => u.Email)</label>
                            <div class="col-sm-10">
                                @Html.TextBoxFor(u => u.Email, new { @class = "form-control", @placeholder = "请输入用户邮箱" })
                                @Html.ValidationMessageFor(u => u.Email)
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">所属角色</label>
                            <div class="col-sm-10">
                                @if (Model.IsAdminUser())
                                {
                                    @Html.CheckBox(Role.AdminRoleId.ToString(), true, new { @class = "bluecheckradios", @disabled = "disabled" })<span>@Role.AdminRoleName &nbsp;&nbsp;</span>
                                }
                                else
                                {
                                    foreach (Role role in (new UIShell.RbacPermissionService.DataAccess.RoleDataAccessor().GetAll()))
                                    {
                                        if (Model.Roles.Contains(role))
                                        {
                                            @Html.CheckBox(role.Id.ToString(), true)<span>@role.Name &nbsp;&nbsp;</span>
                                        }
                                        else
                                        {
                                            @Html.CheckBox(role.Id.ToString())<span>@role.Name &nbsp;&nbsp;</span>
                                        }
                                    }
                                }
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label"></label>
                            <div class="col-sm-10">
                                <button type="button" class="btn btn-primary" onclick="javascript: Save();">保存用户</button>&nbsp;&nbsp;
                                <button type="button" class="btn btn-default" onclick="javascript: List();">返回</button>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts
{
    <script type="text/javascript" src="@Url.BundleContent(BundleActivator.Bundle, "~/Scripts/crud.js")"></script>
}
